.project {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%; /* Establecer el ancho del componente para móviles */
  max-width: 48%; /* Establecer un ancho máximo para mostrar 2 proyectos por fila */
  box-sizing: border-box;
}

.project .carousel img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.project h3 {
  margin: 1rem 0;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-links a {
  color: #333;
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}
