.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  @media (min-width: 768px) {
    .projects-container {
      justify-content: space-between;
    }
  }
  